/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem){

/*-----------BODY-------------*/

/*----------HEADER-----------*/
/*header img {width: 115px;margin: 1rem;}*/
header h1 {
    font-size: 2rem;
    padding-top: 1rem;
}
header h2 {font-size: 1.25rem; padding-bottom: .5rem; text-align: center;}



/*-----------NAVIGATION----------*/

nav button {display: none;}

nav ul.hide {display: block;}

nav ul {margin-left: 0;
    height: 62px; 
    background-color: #ffc300;
    border-right: 1px solid rgb(20,90,50);   
}
nav ul li{
    float: left; 
    width: 16.6%;
    background-color: #ffc300;
    height: 62px;
    border-right: 1px solid rgb(20,90,50);
}

nav ul li a {
    border: none;
    padding: .8rem 1rem;
    font-size: 1rem;}

nav ul li.active a {
    height: 62px;}


/*------------MAIN-----------*/
main h1{font-size: 4rem;}
main h2{font-size: 3rem;padding: 0;}
main figure.hero {
    margin: 0;
    position: relative;
}
main figure.hero div {
    display: block;
    position: absolute;
    float: left;
    top: 15px;
    left: 25px;
    border: solid .35em #ffc300;
    padding-bottom: 1rem;
    font-size: 1rem;
    width: 250px;
    background-color: rgba(255,255,255,0.5);        
    column-gap: 15px;
    }
    main figure.hero div h3 {
        text-align: center;
        margin-bottom: 0;}
    
    main figure.hero div th{
        width: 220px; 
        font-size: 1rem;
        text-align: right;
        padding-left: 15px;
    }
    
main figure.hero div td{
        font-size: 1rem;
        text-align: left;
        padding-left: 15px;}

main .curcon {
    position: absolute;
    top: 25px;
    left: 15px;
    border: 1px solid #000;
    box-shadow: 0 0 30px #fff;
    float: left;
    font-size: 10px;
    font-weight: bold;
    background: rgba(80, 180, 80, 0.5);
    padding: 0 10px 0 0;
    border-radius: 5px;
} 

main .fiveday {
    display:block;
    width: 100%;
    border-spacing:2px;
    border-collapse:collapse;
    border-color:black;
    margin: 0 0 4% 2%;
    box-shadow: 10px 10px 18px #089002;
    
}
main .fiveday thead {
    font-size: 1.7rem;
    color: #10704e;
    background-color: #ffc300;
    font-weight: bold;
}

main .fiveday table td, table th {
        border: 1px solid #ddd;
        width: 11%;
        padding: 8px;
        text-align: center;
        vertical-align: middle;
        font-size: 1.25;
    }

main .fiveday table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #089002;
  color: #ffc300;
  height: 56; 
  font-size: 1.5rem;
}
main .fiveday {
    display: flex; 
    width: 100%;
    border: none;}

main article img {float:right;width: 50vw; padding: 5px;}

main div.weatherGallery figure {
        flex-basis: 45%;
    }

/*------------FOOTER------------*/
footer {clear:both;}
div.row {border-top: 8px solid #ffc300; }
div.row section:nth-child(1) {width: 50%;float: left;}
div.row section:nth-child(2) {width: 50%;float: left;}
div.row section:nth-child(3) {clear: both;float: bottom;}
}
/*end of media query*/
