/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .2rem 2%;
    background-color: #10704e;
    display: grid;
    grid-template-columns: 110px auto;
}

header img {
    float:left; 
    margin-top: 7px;
    margin-right: 5px;
    margin-bottom: 4px;
    width: 100px;
    background-color: #fff; 
    border:solid#ffc300;}
header h1 {color: #ffc300;font-size: 1.5rem;text-align: center;margin-top: .5rem}
header h2 {font-size: 1rem; font-weight: normal; font-style: italic; color: #ffc300;text-align: center;}

/*----------- NAVIGATION --------------*/
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: rgb(72, 112, 88);
}

nav {
    background-color: rgb(255,195,0);
    color: #6b706d;
    font-family:"Merriweather Sans", Verdana, Tahoma, sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(72, 112, 88);
    text-align: center;
    border-top: 1px solid rgba(72,112,88,0.3);
    transition: 2s;
}

nav ul li.active a {
    background-color: rgba(72,112,88);
    color: #fff;
}
nav ul li a:hover {
    background-color: #10704e;
    color: #fff;
    }

nav ul.hide{display: none;}
/*----------- MAIN --------------*/
 
main {
    padding: 0 1.5%;
    min-height: 10rem;
       }
main figure.hero {
    width: 100%; 
    margin: 0%; 
    position: relative;}
main figure.hero div {display: none;}

main h1 {color: #10704e;font-size: 2.5rem; padding: 0}
main h2 {color: #10704e;font-size: 1.7rem;}
main h3 {color: #10704e;font-size: 1.3rem; padding: 0}


main figure img {
    margin-left: 0px; 
    width: 100%; 
    height: auto;
    padding-bottom: .5rem;}


main .curcon {display:none;}

main .fiveday {display: none;}
main .fiveday h2 {text-align: center;}

/*------------ GALLERY --------------*/
main .weatherGallery {
    display: flex;
    flex-wrap: wrap;
}

main .weatherGallery figure {
    flex-basis: 100%;
    margin: 0;
}

main .weatherGallery figure img {
    width: 100%;
}
/*----------- FORM ------------------*/
form {
    color: #10704e;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #ffc300;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #145a32;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color:#10704e;
    font-size: .8rem;
    width: 100%;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1 px #145a32;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(107,112,109,0.4);
}

form label.range {
    width: 100%;
}
form textarea {
    display: block;
    width: 100%;
}

form input.submitBtn {
    border: none;
    background-color: #089002;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 1rem 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px; 
 }
 
 form label.top input:required:valid {
     border-left: green solid 6px;
 }
 
/*------------ HOME PAGE TOWN FACTS -----------------*/
#townfacts {
    display: flex;
    flex-wrap: wrap;
   }

#townfacts article {
    width: 300px;
    margin: .5rem 2%;
    padding: 5px;
    border: 6px solid #ffc300;
}
#townfacts h2 {
    margin-top: 0;
    font-size: 2rem;
}

#townfacts motto {
    font-style: italic;
}
#townfacts article img {
   display: flex;
   width: 280px;
}


 




/*----------- FOOTER --------------*/
div.row {border-top: 8px solid #ffc300; }
div.row section {padding: 0 2%;}
div.row section:nth-child(1) {color:#10704e}
div.row section:nth-child(2) {color:#10704e}
div.row section:nth-child(3){
    background-color: #6b706b; 
    color:#ffc300;
    text-align: center;
    height: 2rem;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}