@media only screen and (min-width: 1028px) {

header, footer, nav, main {max-width: 75rem; margin: auto}

nav ul {padding-left: 2%;}
nav li {width:auto;}
nav a {padding: .5rem 1rem;}

main figure {
    width: 350px;
    transition: width 2s;}
main figure:hover{
        width 500px;
    }

div.news {column-count: 3;}

 } /*end of media query*/