/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Taviraj', serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ebe8f5;
}
header img {float:left; margin-right: 10px; width: 45px;}
header h1 {margin: 0; font-size: 1.5rem; color: #523cfc;}
header h2 {margin: 0; font-size: 1.2rem; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    list-style-type: none;
    background-color: #ebe8f5;
    margin: 0;
    padding-left: 0;
}
nav ul {
    list-style-type: none;
    padding-top: 0;
    padding-left: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    margin: 0;
    color: #7388fc;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #ebe8f5;
    color: #fff;
}
nav ul li.active a {
    background-color: #523cfc;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
   }
main h1 {color: #523cfc;}
main img {float:right; margin-left: 10px; width: 100%; padding-bottom: 1rem;}
main a {padding-bottom: 2rem;}

/*----------- FOOTER --------------*/
footer {
    float: bottom;
    bottom: 0;
    background-color: #ebe8f5;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}