/*64em is also 1028px (if basefont is px) */
@media only screen and (min-width: 64rem) {


    /*----------------BODY-----------------*/


    /*----------------HEADER----------------*/
    header img {
        width: 50vw;
        max-width: 650px;
    }
    header .bookBtn {
        margin: 2% 2% 3% 3%;
    }

    /*----------------NAVIGATION------------*/
    nav ul li {
        padding: .6rem 1 rem;
        height: 47px;
    }
    nav ul li a {
        font-size: 1.2rem;}


    /*---------------MAIN------------------*/



    /*----------------FOOTER------------------*/
    div.row section:nth-child(1) {
        font-family: "Oleo Script"; 
        font-size: 1.5rem;
        color: #162689;}
    div.row section:nth-child(2) {
        font-family: "Oleo Script"; 
        font-size: 1.25rem;
        color:#162689;}

} /* end of media query */