/*64em is also 1028px (if basefont is px) */
@media only screen and (min-width: 64rem) {


    /*----------------BODY-----------------*/


    /*----------------HEADER----------------*/
    header .temple img {
        width:25vw;
  
    }
    header .bookBtn {
        margin: 2% 2% 3% 3%;
    }

    /*----------------NAVIGATION------------*/
    nav ul li {
        padding: .6rem 1 rem;
        height: 47px;
    }
    nav ul li a {
        font-size: 1.2rem;}


    /*---------------MAIN------------------*/
    main h1 {font-size: 3.5rem;
    }
    main h2 {font-size: 3rem;
    }
    main figure.oakland {
        width: 45vw;
        float: right;
        margin: 1rem 10px .25rem 0;
     }
    main figcaption {font-size: 2.5rem;}
    
    main p {margin: 0 1% 0 2%;
        padding-right: .25rem;
        font-size: 1.2rem;}


    /*----------------FOOTER------------------*/
    div.row section:nth-child(1) {
        font-family: "Oleo Script"; 
        font-size: 1.5rem;
        color: #162689;}
    div.row section:nth-child(2) {
        font-family: "Oleo Script"; 
        font-size: 1.25rem;
        color:#162689;}

} /* end of media query */