/*64em is also 1028px (if basefont is px) */
@media only screen and (min-width: 64rem) {


/*----------------BODY-----------------*/
body {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/*----------------HEADER----------------*/
    header .temple img {
        width:25vw;
  
    }
    header div.column input.bookBtn {
        margin: 2% 2% 3% 3%;
        font-size: 2rem;
        font-weight: bold;
    }

/*----------------NAVIGATION------------*/
    nav ul li {
        padding: 0rem 1rem;
        height: 50px;
        font-size: 1.5rem;
    }
    nav ul li a {
        font-size: 1.5rem;}
    nav ul li.active a {padding:0;}

/*---------------MAIN------------------*/
    main h1 {font-size: 3.5rem;
    }
    main h2 {font-size: 3rem;
    }
    main figure.oakland {
        width: 45vw;
        float: right;
        margin: 2%;
     }
    main figcaption {font-size: 2.5rem;}
    
    main article p {margin: 2%;
        padding-right: .25rem;
        font-size: 2rem;}

    form legend {font-size: 2rem;}
/*----------------- MAIN ABOUT US ----------------*/
    main div article.olive p {
        font-size: 2rem;
    }
    main p {
        font-size: 2rem;
        margin: 2%;
    }
    main div.map {
        margin: 2%;
    }
    /* ---------------MAIN MISSIONARIES -------------*/
    main div figure.branch p {
        font-size: 2rem;
    }
    main div figure.branch img{
        width: 7vw;
        margin: 2%;
    }
    main div figure.suite {
        width: 40vw;
        margin-left: 2%;
        float: left;
        max-width: 6500px;
    }
    main div figure.suite img {
        width: 100%;
}
    main div figure.layout {
        width: 38vw;
        margin: 1% 2% 2% 2%;
        max-width: 650px;
        float: right;
}
    main div figure.layout img {
        width: 100%;
}

/*--------------SPECIAL SERVICES ------------------*/
main div.servicePix figure {
    flex-basis: 27%;
}
/*----------------FOOTER------------------*/
    div.row section:nth-child(1) {
        font-family: "Oleo Script"; 
        font-size: 1.5rem;
        color: #162689;}
    div.row section:nth-child(2) {
        font-family: "Oleo Script"; 
        font-size: 1.25rem;
        color:#162689;}

} /* end of media query */