/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem){

/*-----------BODY-------------*/

/*----------HEADER-----------*/
header {
    padding-top: 1rem;
    height: 150px;
}

header img {
    width: 30vw;
    max-height: 100px;
    margin: 0%;
    float:left;
     }
header div {width: 50vw;}
header div.column h1 { 
    font-size: 2rem; 
    margin:0;
}
header div.column h2 { font-size: 1.25rem;}
header .bookBtn {
    width: 20vw;
    max-height: 50px;
    grid-column-end: 3;
    margin-right: 2%;
    float: right;
}


/*-----------NAVIGATION----------*/

nav button {display: none;}

nav ul.hide {display: block;}

nav ul {margin-left: 0px;
    height: 50px; 
    background-color: #d8d8da;
    border-right: 1px solid #162689;   
}
nav ul li{
    float: left; 
    width: 16.25%;
    height: 50px;
    color: #165f89;
}

nav ul li a {
    border: none;
    padding: .5rem 0 .25rem 0;
    font-size: 1rem;}

nav ul li.active a {
    height: 50px;
    background-color: #16897a;
    padding: .5rem 0 .25rem 0;
}
nav ul li a:hover {height: 50px;}

/*------------MAIN HOME-----------*/
main h1 {font-size: 3rem;}
main h2 {font-size: 2.5rem;
    margin-bottom: 0%;
    margin-top: 0%;
}

main div.activities figure {
    flex-basis: 27%;
    margin-left: auto;
    margin-right: auto;
}
main figure.oakland {
    width: 45vw;
    float: right;
    margin: 1rem 10px .25rem 0;
 }
main figcaption {font-size: 2rem;}
main div figure.california {
    width: 96vw;
    margin: 2%;
}
main article h3 {
    margin: 3pt 2% 0% 2%;
}
main article p {margin: 2%;
     padding-right: .25rem;
     font-size: 1.25rem;
    }
main article ul {
    font-size: 1.5rem;
}

/* ----------MAIN FORM ------------*/
form legend { font-size: 1.75rem;}
form fieldset {margin: 2%;}
form fieldset label.sbs {padding: 30px;}
form fieldset div.location {float:center;}

/* --------- MAIN MISSIONARIES ---------*/
main div figure.branch p {
    font-size: 1.5rem;
    padding: 10px;
    text-align: justify;
}
main div figure.branch img {
    padding: 5px;
}

/*-------------SPECIAL SERVICES -------------*/
main div.servicePix figure {
    flex-basis: 45%;
    margin-left: auto;
    margin-right: auto;
}

main .servicePix figcaption {font-size: 1.5rem;}

/*------------FOOTER------------*/
footer {clear:both;}
div.row {border-top: 8px solid #165f89; }
div.row section:nth-child(1) {width: 50%;float: left;}
div.row section:nth-child(2) {width: 50%;float: left;}
div.row section:nth-child(3) {clear: both;float: bottom;}
}

/*end of media query*/
