/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem){

/*-----------BODY-------------*/

/*----------HEADER-----------*/

header img {
    float: left;
    width: 100px;
    margin-left: 50px;}
header h1 {
    font-size: 2.5rem;
    padding-top: 1rem;
    text-align: center;
}
header h2 {
    font-size: 1.75rem; 
    padding-bottom: .5rem; 
    text-align: center;}



/*-----------NAVIGATION----------*/

nav button {display: none;}

nav ul.hide {display: block;}

nav ul {margin-left: 0px;
    height: 62px; 
    background-color: #ffc300;
    border-right: 1px solid rgb(20,90,50);   
}
nav ul li{
    float: left; 
    width: 16.6%;
    background-color: #ffc300;
    height: 62px;
    border-right: 1px solid rgb(20,90,50);
}

nav ul li a {
    border: none;
    padding: .8rem 1rem;
    font-size: 1rem;}

nav ul li.active a {
    height: 62px;}


/*------------MAIN-----------*/
main figure img {
    float: left;
    width: 50vw;
    padding: 5px;
}

/*------------FOOTER------------*/

/*end of media query*/
