/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem){

/*-----------BODY-------------*/

/*----------HEADER-----------*/

header img {
    width: 70vw;
    max-height: 100px;
    margin: 0%;
    float:left;
     }

header .bookBtn {
    width: 20vw;
    max-height: 50px;
    float: right;
    margin-right: 2%;
}


/*-----------NAVIGATION----------*/

nav button {display: none;}

nav ul.hide {display: block;}

nav ul {margin-left: 0px;
    height: 50px; 
    background-color: #d8d8da;
    border-right: 1px solid #162689;   
}
nav ul li{
    float: left; 
    width: 14.15%;
    height: 50px;
    color: #165f89;
}

nav ul li a {
    border: none;
    padding: .5rem 0 .25rem 0;
    font-size: 1rem;}

nav ul li.active a {
    height: 50px;
    background-color: #16897a;
}


/*------------MAIN-----------*/
main h1 {font-size: 3rem;}
main h2 {font-size: 2.5rem;
    margin-bottom: 0%;
    margin-top: 0%;
}
main figure.oakland {
    width: 45vw;
    float: right;
    margin: 1rem 10px .25rem 0;
 }
main figcaption {font-size: 2rem;}

main p {margin: 0 1% 0 2%;
     padding-right: .25rem;}

/*------------FOOTER------------*/
footer {clear:both;}
div.row {border-top: 8px solid #165f89; }
div.row section:nth-child(1) {width: 50%;float: left;}
div.row section:nth-child(2) {width: 50%;float: left;}
div.row section:nth-child(3) {clear: both;float: bottom;}
}

/*end of media query*/
