/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Abel', sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .2rem 2%;
    background-color: #165f89;
    text-align: center;
    }

header img {
    float: center;
    width: 96%;
    max-height: 100px;
    margin: 1%;
    }

  header .bookBtn {
        display: block; 
        margin: 3% auto;
        border: none;
        background-color: #16897a;
        font-family: "Abel", sans-serif;
        font-style: bold;
        font-size: 1.25rem;
        color: #162689;
        border-radius: 1rem;
        padding: .5rem 1rem;
        padding-bottom: .5rem;
        width: 96%;
        max-width: 20rem;
    }
    
/*----------- NAVIGATION --------------*/
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 2.6rem;
    color: #162689;
}

nav {
    background-color: #16897a;
    color: #d8d8da;
    font-family:"Abel", sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    font-size: 1.5rem;
    color:#162689;
    text-align: center;
    border-top: 1px solid rgba(72,112,88,0.3);
    transition: 1s;
}

nav ul li.active a {
    background-color: #16897a;
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(22, 137, 122, 0.3);
    color: #fff;
    }

nav ul.hide{display: none;}
/*----------- MAIN --------------*/
 


 




/*----------- FOOTER --------------*/
div.row {border-top: 8px solid #165f89;}
div.row section {padding: 0 2%;}
div.row section h3 {margin-bottom: 0%}
div.row section:nth-child(1) {margin-top: 0%; font-family: "Oleo Script"; color: #162689;}
div.row section:nth-child(2) {font-family: "Oleo Script"; color:#162689;}
div.row section:nth-child(3){
    background-color: #d8d8da; 
    color:#16897a;;
    text-align: center;
    height: 2rem;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}